<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serwis ogłoszeniowy ADBOX</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../node_modules/@splidejs/splide/dist/css/splide.min.css">
</head>

<body>
    <%-include('../partials/navbar')%>

        <form class="navbar__search-sm" action="/<%='#ads'%>" method="GET">
            <input class="navbar__search-input" type="text" id="searchInput" placeholder="Wyszukaj ogłoszenie"
                name="search">
            <button class="navbar__search-button"><i class="fas fa-search"></i></button>
        </form>

        <div class="container">
            <%-include('../partials/flash')%>
                <%- body %>
        </div>

    <%-include('../partials/footer')%>
</body>

</html>