<% layout('layouts/boilerplate') %>
<div class="new-ad">
    <h1 class="heading-1 u-margin-bottom u-center-text">Edytuj ogłoszenie</h1>
    <form class="new-ad__form" action="/<%=ad._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="new-ad__group">
            <input class="new-ad__input" type="text" id="title" name="ad[title]" maxlength="60" required value="<%=ad.title%>">
            <label class="new-ad__label" for="title">Tytuł</label>
        </div>
        <div class="new-ad__group">
            <select name="ad[category]" id="category" required class="new-ad__select">
               <option value="" selected disabled>Wybierz kategorię</option>
               <option value="Motoryzacja"
               <% if (ad.category.name == "Motoryzacja") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Motoryzacja</option>
               <option value="Elektronika" 
               <% if (ad.category.name == "Elektronika") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Elektronika</option>
               <option value="Zwierzęta" 
               <% if (ad.category.name == "Zwierzęta") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Zwierzęta</option>
               <option value="Rolnictwo"
               <% if (ad.category.name == "Rolnictwo") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Rolnictwo</option>
               <option value="Rozrywka i Rekreacja"
               <% if (ad.category.name == "Rozrywka i Rekreacja") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Rozrywka i Rekreacja</option>
               <option value="Dla dzieci"
               <% if (ad.category.name == "Dla dzieci") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Dla dzieci</option>
               <option value="Nieruchomości"
               <% if (ad.category.name == "Nieruchomości") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Nieruchomości</option>
               <option value="Usługi"
               <% if (ad.category.name == "Usługi") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Usługi</option>
               <option value="Muzyka"
               <% if (ad.category.name == "Muzyka") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Muzyka</option>
               <option value="Praca"
               <% if (ad.category.name == "Praca") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Praca</option>
               <option value="Moda"
               <% if (ad.category.name == "Moda") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Moda</option>
               <option value="Dom i Ogród"
               <% if (ad.category.name == "Dom i Ogród") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Dom i Ogród</option>
               <option value="Zdrowie i Uroda"
               <% if (ad.category.name == "Zdrowie i Uroda") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Zdrowie i Uroda</option>
               <option value="Siłownia i Fitness"
               <% if (ad.category.name == "Siłownia i Fitness") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Siłownia i Fitness</option>
               <option value="Biżuteria"
               <% if (ad.category.name == "Biżuteria") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Biżuteria</option>
               <option value="Oddam za darmo"
               <% if (ad.category.name == "Oddam za darmo") { %>
                selected
               <% } else {%>
                ''
                <% } %>>Oddam za darmo</option>
            </select>        
        </div>
        <div class="new-ad__group">
            <input class="new-ad__input" type="number" step="0.01" type="text" id="price" name="ad[price]" onkeypress="return isNumberKey(event)" required value="<%=ad.price%>">
            <label class="new-ad__label" for="price">Cena</label>
        </div>
        <div class="new-ad__group">
            <textarea class="new-ad__input"  id="description" name="ad[description]" rows="4" maxlength="1000" required><%=ad.description%></textarea>
            <label class="new-ad__label" for="description">Opis</label>
        </div>
        <div class="new-ad__group">            
            <input class="new-ad__input" type="number" id="contactNumber" name="ad[contactNumber]" onkeypress="return isNumberKey(event)" value="<%=ad.contactNumber%>" required>
            <label for="contactNumber" class="new-ad__label">Numer kontaktowy</label>
        </div>
        <div class="new-ad__group u-margin-bottom-big">            
            <input class="new-ad__input" type="text" id="location" name="ad[location]" maxlength="40" value="<%=ad.location%>" required>
            <label for="location" class="new-ad__label">Miejscowość</label>
        </div>
        <div class="new-ad__group">
            <label class="new-ad__upload-label" for="image">Dodaj zdjęcia</label>
            <input type="file" name="image" id="image" multiple>
         </div>
         <div class="new-ad__group">
             <div class="new-ad__images">
                <% ad.images.forEach((img, i) => { %>
                    <div class="new-ad__img-box">
                        <img class="new-ad__img-thumbnail" src="<%=img.url%>" alt="">
                        <div class="new-ad__img-delete">
                            <label class="new-ad__img-delete-label" for="image-<%=i%>">Usunąć?</label>
                            <input name="deleteImages[]" type="checkbox" id="image-<%=i%>" value="<%=img.filename%>">
                        </div>
                    </div>
                <% }) %>
             </div>
         </div>
        <button class="btn" type="submit">Edytuj</button>
    </form>
</div>

<script>
    function isNumberKey(evt) {
        var charCode=(evt.which)? evt.which:evt.keyCode;
        if (charCode!=46&&charCode>31
            &&(charCode<48||charCode>57))
            return false;

        return true;
    }
</script>