<% layout('layouts/boilerplate') %>

    <header class="header">

        <h1 class="heading-1 u-center-text" id="categories">Kategorie</h1>

        <div class="categories u-margin-top">
            <div class="categories__item">
                <a href="/category/Motoryzacja" class="categories__link">
                   <i class="fas fa-car categories__icon"></i>
                   <span href="/category/Motoryzacja" class="categories__text">Motoryzacja</span>
                </a>
            </div>
   
           <div class="categories__item">
                 <a href="/category/Elektronika"  class="categories__link">
                   <i class="fas fa-laptop categories__icon"></i>
                   <span href="/category/Elektronika"  class="categories__text">Elektronika</span>
                 </a>
           </div>
   
           <div class="categories__item">
               <a href="/category/Zwierzęta" class="categories__link">
                   <i class="fas fa-paw categories__icon"></i>
                   <span href="/category/Zwierzeta" class="categories__text">Zwierzęta</span>    
               </a>
           </div>
   
           <div class="categories__item">
               <a href="/category/Rolnictwo" class="categories__link">
                   <i class="fas fa-tractor categories__icon"></i>
                   <span href="/category/Rolnictwo" class="categories__text">Rolnictwo</span>    
               </a>
           </div>
   
           <div class="categories__item">
               <a href="/category/Rozrywka i Rekreacja" class="categories__link">
                   <i class="fas fa-bicycle categories__icon"></i>
                   <span href="/category/Rozrywka i Rekreacja" class="categories__text">Rozrywka i Rekreacja</span>
               </a>
           </div>
   
           <div class="categories__item">
               <a href="/category/Dla dzieci" class="categories__link">
                   <i class="fas fa-baby-carriage categories__icon"></i>
                   <span href="/category/Dla dzieci" class="categories__text">Dla dzieci</span>
               </a>
           </div>
   
           <div class="categories__item">
               <a href="/category/Nieruchomości" class="categories__link">
                   <i class="fas fa-home categories__icon"></i>
                   <span href="/category/Nieruchomości" class="categories__text">Nieruchomości</span>
               </a>
           </div>
   
           <div class="categories__item">
               <a href="/category/Usługi" class="categories__link">
                   <i class="fas fa-brush categories__icon"></i>
                   <span href="/category/Usługi" class="categories__text">Usługi</span>
               </a>
           </div>
   
           <div class="categories__item">
               <a href="/category/Muzyka" class="categories__link">
                   <i class="fas fa-music categories__icon"></i>
                   <span href="/category/Muzyka" class="categories__text">Muzyka</span>
               </a>
           </div>
   
           <div class="categories__item">
            <a href="/category/Praca" class="categories__link">
                <i class="fas fa-briefcase categories__icon"></i>
                <span href="/category/Praca" class="categories__text">Praca</span>
            </a>
        </div>
           
        <div class="categories__item">
            <a href="/category/Moda" class="categories__link">
                <i class="fas fa-tshirt categories__icon"></i>
                <span href="/category/Moda" class="categories__text">Moda</span>
            </a>
        </div>
           
        <div class="categories__item">
            <a href="/category/Dom i Ogród" class="categories__link">
                <i class="fas fa-couch categories__icon"></i>
                <span href="/category/Dom i Ogród" class="categories__text">Dom i Ogród</span>
            </a>
        </div>
           
        <div class="categories__item">
            <a href="/category/Zdrowie i Uroda" class="categories__link">
                <i class="fas fa-heartbeat categories__icon"></i>
                <span href="/category/Zdrowie i Uroda" class="categories__text">Zdrowie i Uroda</span>
            </a>
        </div>

        <div class="categories__item">
            <a href="/category/Siłownia i Fitness" class="categories__link">
                <i class="fas fa-dumbbell categories__icon"></i>
                <span href="/category/Siłownia i Fitness" class="categories__text">Siłownia i Fitness</span>
            </a>
        </div>

        <div class="categories__item">
            <a href="/category/Biżuteria" class="categories__link">
                <i class="fab fa-sketch categories__icon"></i>
                <span href="/category/Biżuteria" class="categories__text">Biżuteria</span>
            </a>
        </div>

        <div class="categories__item">
            <a href="/category/Oddam za darmo" class="categories__link">
               <img class="categories__icon--free" src="../../public/images/free.svg" alt="">
               <span href="/category/Oddam za darmo" class="categories__text">Oddam za darmo</span>
            </a>
        </div>
       </div>

    </header>


    <% if (!searchQuery) { %> 
    <h1 class="heading-1 u-center-text u-margin-top-big" id="ads">Wszystkie ogłoszenia</h1>
    <% } else { %>
        <h1 class="heading-1 u-center-text u-margin-top-big" id="ads">Znaleziono <%=adsCount%> <%=resultText%></h1>
    <% } %>

    <main class="main u-margin-top">

        <% if (ads.docs.length == 0) { %>
            <p class="no-category-alert">Brak ogłoszeń</p>
        <% } %>

        <% ads.docs.forEach(ad => { %>
        <section class="ad">
            <a href="../<%=ad._id%>">      
                <img src="https://images.unsplash.com/photo-1619441207978-3d326c46e2c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80" alt="Image" class="ad__image">
            </a>

            <a href="../<%=ad._id%>" class="ad__title u-margin-top-small"><%= ad.title %></a>

            <%  
                const date = new Date(ad.updatedAt) 
                const updatedAt = date.getFullYear()+'-' + (date.getMonth()<10?'0':'') + (date.getMonth()+1) + '-'+date.getDate() + ' ' + date.getHours() + ':' + (date.getMinutes()<10?'0':'') + date.getMinutes();
            %>
            <p class="ad__creation-date">Utworzono <%=updatedAt%></p>

            <div class="ad__price-observe">
                <span class="ad__price"><%=ad.price%> zł</span>
                <% if (!currentUser) { %>
                    <a class="ad__observe-icon" href="/watched/<%=ad._id%>/add"><i title="Dodaj do obserwowanych" class="far fa-star"></i></a>
                <% } else if (currentUser._id.toString() != ad.author) { %>
                    <a class="ad__observe-icon" href="/watched/<%=ad._id%>/add"><i title="Dodaj do obserwowanych" class="far fa-star"></i></a>
                <% } %>
            </div>
        </section>
        <% }); %>


    </main>

    <% if (ads.totalDocs > 9) { %>
    <div class="pagination">
        <% if (!(ads.hasPrevPage)) { ads.prevPage = 1 } %><a  class="pagination__btn previous" href="/?page=<%=ads.prevPage%><% if (searchQuery) { %>&search=<%=searchQuery%><% } %>#ads"><i class="fas fa-angle-left"></i></a>
        <% if (ads.page == 1) { %>  <% } else { %><a class="pagination__btn" href="/?page=1<% if (searchQuery) { %>&search=<%=searchQuery%><% } %>#ads">1</a><% } %>
        <% if (!(ads.hasPrevPage) || ads.prevPage == 1) {  %>  <% } else { %><a  class="pagination__btn" href="/?page=<%=ads.prevPage%><% if (searchQuery) { %>&search=<%=searchQuery%><% } %>#ads"><%=ads.prevPage%></a><% } %>
        <a  class="pagination__btn active" href="/?page=<%=ads.page%><% if (searchQuery) { %>&search=<%=searchQuery%><% } %>#ads"><%=ads.page%></a>
        <% if (!(ads.hasNextPage) || ads.nextPage == ads.totalPages) {  %>  <% } else { %><a  class="pagination__btn" href="/?page=<%=ads.nextPage%><% if (searchQuery) { %>&search=<%=searchQuery%><% } %>#ads"><%=ads.nextPage%></a><% } %>
        <% if (ads.page == ads.totalPages) { %>  <% } else { %> <a  class="pagination__btn" href="/?page=<%=ads.totalPages%><% if (searchQuery) { %>&search=<%=searchQuery%><% } %>#ads"><%=ads.totalPages%></a><% } %>
        <% if (!(ads.hasNextPage)) { ads.nextPage = ads.totalPages } %> <a  class="pagination__btn next" href="/?page=<%=ads.nextPage%><% if (searchQuery) { %>&search=<%=searchQuery%><% } %>#ads"><i class="fas fa-angle-right"></i></a>
    </div>    
    <% } %>