<% layout('layouts/boilerplate') %>
    <h1>
        <%=ad.title%>
    </h1>
    <h2>
        Price: <%=ad.price%>
    </h2>
    <p>
        Description: <%=ad.description%>
    </p>
    <p>
        <a href="/ads/<%=ad._id%>/edit">Edytuj ogłoszenie</a>
    </p>
    <p>
    <form action="/ads/<%=ad._id%>?_method=DELETE" method="POST">
        <button>Usuń ogłoszenie</button>
    </form>
    </p>
    <footer>
        <a href="/ads">Wszystkie ogłoszenia</a>
    </footer>