<% layout('layouts/boilerplate') %>
<div class="card-wrapper">
    <div class="card">

            <% if (ad.images.length > 0) { %>
                <div id="splide" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <% for (let img of ad.images) { %>
                            <li class="splide__slide">
                                <img src="<%=img.url%>" alt="Image" class="img" title="Kliknij aby powiększyć">
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            <% } else { %>
            <img src="../../public/images/no-image.jpg" alt="Image" class="no-img"> 
            <% } %>



        <div class="modal">
            <span class="modal__close">×</span>
            <img class="modal__img" id="img01">
        </div>

        <div class="card__info">
                <% if (!currentUser) { %>
                    <a class="card__observe-icon" href="/watched/<%=ad._id%>/add"><i title="Dodaj do obserwowanych" class="far fa-star"></i></a>
                <% } else if (currentUser._id.toString() != ad.author._id) { %>
                    <a class="card__observe-icon" href="/watched/<%=ad._id%>/add"><i title="Dodaj do obserwowanych" class="far fa-star"></i></a>
                <% } %>

                <div class="card__title">
                    <h3 class="heading-3"><%=ad.title%></h3>    
                    <%  
                        const date = new Date(ad.updatedAt) 
                        const updatedAt = date.getFullYear()+'-' + (date.getMonth()<10?'0':'') + (date.getMonth()+1) + '-'+ (date.getDate()<10?'0':'') + date.getDate() + ' ' + date.getHours() + ':' + (date.getMinutes()<10?'0':'') + date.getMinutes();
                    %>
                   <p class="card__author">Wystawiający: <%=ad.author.username%></p>
                   <p class="ad__creation-date">Utworzono <%=updatedAt%></p>
                </div>
    
                <div class="card__price">
                    <span>Cena: <%=ad.price%> zł</span>
                </div>

                <div class="card__contact-number">
                    <span>Numer kontaktowy: <%=ad.contactNumber%></span>
                </div>

                <div class="card__location">
                    <span>Miejscowość: <%=ad.location%></span>
                </div>

        </div>
        
    </div>

    <div class="description-box">
        <div class="description-box__title">
            <h3 class="heading-3">Opis:</h3>
        </div>
        
        <p class="description-box__text">
            <%=ad.description%>
        </p>

        <% if (currentUser && ad.author.equals(currentUser._id)) { %>
        <div class="description-box__buttons">
            <div>              
                <a class="btn btn--small" href="/<%=ad._id%>/edit">Edytuj ogłoszenie</a>
            </div>
            <div>
                <form action="/<%=ad._id%>?_method=DELETE" method="POST">
                    <button class="btn btn--small">Usuń ogłoszenie</button>
                </form>
            </div>
        </div>
         <% } %>
    </div>

</div>

<script src="../../node_modules/@splidejs/splide/dist/js/splide.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Splide('#splide').mount();
    });
</script>

<script src="../../public/js/imgModal.js"></script>