<% layout('layouts/boilerplate') %>

<h1 class="heading-1 u-center-text u-margin-top-huge" id="ads">Obserwowane</h1>

<main class="main u-margin-top">
    
    <% if (userWatchedAds.watchedAds.length == 0) { %>
        <p class="no-category-alert">Brak obserwowanych ogłoszeń</p>
    <% } %>

    <% userWatchedAds.watchedAds.forEach(ad => { %>
    <section class="ad">
        <a href="../<%=ad._id%>">      
            <img src="https://images.unsplash.com/photo-1619441207978-3d326c46e2c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80" alt="Image" class="ad__image">
        </a>

        <a href="../<%=ad._id%>" class="ad__title u-margin-top-small"><%= ad.title %></a>

        <%  
            const date = new Date(ad.updatedAt) 
            const updatedAt = date.getFullYear()+'-' + (date.getMonth()<10?'0':'') + (date.getMonth()+1) + '-'+date.getDate() + ' ' + date.getHours() + ':' + (date.getMinutes()<10?'0':'') + date.getMinutes();
        %>
        <p class="ad__creation-date">Utworzono <%=updatedAt%></p>

        <div class="ad__price-observe">
            <span class="ad__price"><%=ad.price%> zł</span>
            <% if (!currentUser) { %>
                <a class="ad__observe-icon to-remove" href="/watched/<%=ad._id%>/remove"><i title="Usuń z obserwowanych" class="far fa-star"></i></a>
            <% } else if (currentUser._id.toString() != ad.author._id) { %>
                <a class="ad__observe-icon to-remove" href="/watched/<%=ad._id%>/remove"><i title="Usuń z obserwowanych" class="far fa-star"></i></a>
            <% } %>
        </div>
    </section>
    <% }); %>

</main>